ol, ul {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
}

.text {
    max-width: 30em;
}

.govuk-form-group {
    margin-bottom: 30px;
}

/* Hide for both screenreaders and browsers */
.hidden,
.js-enabled .js-hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.list-checks {
    list-style-type: none;
    margin-left: 5px;
    
    li {
        &:before {
        content: '✓';
        position: relative;
        left: -5px;
        }
    }
}

// used to preserve formatting when outputting text that has been entered into a textarea, while
// keeping the look and feel of a regular paragraph.
.preformatted-paragraph {    
    border: 0;
    background: 0;

    display: block;

    // wrap text, see https://css-tricks.com/snippets/css/make-pre-text-wrap/
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}