<div class="govuk-form-group" id="id-section-{{id}}">
  {{#readOnly}}
    <div>
      <p class="govuk-fieldset__legend govuk-fieldset__legend--s text">
        {{label}}
      </p>
      <p id="{{id}}-hint" class="govuk-hint text">
        {{#hint}}{{hint}}{{/hint}}
      </p>
      {{#options}}
        {{#selected}}
          <p class="govuk-body text" id="{{id}}-{{^questionBlockId}}{{value}}{{/questionBlockId}}{{#questionBlockId}}{{questionBlockId}}{{/questionBlockId}}{{#optionId}}-{{optionId}}{{/optionId}}"
              data-name="{{id}}"
              {{#questionBlockId}}data-next-section-id="{{questionBlockId}}"{{/questionBlockId}}
          >
            {{text}}
          </p>
        {{/selected}}
      {{/options}}
    </div>
  {{/readOnly}}
  {{^readOnly}}
    <fieldset class="govuk-fieldset" aria-describedby="{{id}}-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m text">
          {{label}}
      </legend>
      <span id="{{id}}-hint" class="govuk-hint text">
        {{#hint}}{{hint}}{{/hint}}
      </span>
      <div class="govuk-radios {{#hasTwoOptions}}govuk-radios--inline{{/hasTwoOptions}}">
        {{#options}}
        <div class="govuk-radios__item">
          <input
              {{#selected}}checked{{/selected}}
              class="govuk-radios__input digiman__radio {{^questionBlockId}}digiman__radio--content-block{{/questionBlockId}}{{#questionBlockId}}digiman__radio--decision-block{{/questionBlockId}}"
              id="{{id}}-{{^questionBlockId}}{{value}}{{/questionBlockId}}{{#questionBlockId}}{{questionBlockId}}{{/questionBlockId}}{{#optionId}}-{{optionId}}{{/optionId}}"
              name="{{id}}"
              type="radio"
              {{#optionId}}data-option-id="{{optionId}}"{{/optionId}}
              value="{{^questionBlockId}}{{value}}{{/questionBlockId}}{{#questionBlockId}}{{questionBlockId}}{{/questionBlockId}}{{#optionId}}-{{optionId}}{{/optionId}}"
              {{#questionBlockId}}data-next-section-id="{{questionBlockId}}"{{/questionBlockId}}
          />
          <label class="govuk-label govuk-radios__label" for="{{id}}-{{^questionBlockId}}{{value}}{{/questionBlockId}}{{#questionBlockId}}{{questionBlockId}}{{/questionBlockId}}{{#optionId}}-{{optionId}}{{/optionId}}">
            {{text}}
          </label>
        </div>
        {{/options}}
      </div>
    </fieldset>
  {{/readOnly}}
</div>
