<div class="govuk-form-group text" id="id-section-{{id}}">
  {{#readOnly}}
    <p class="govuk-fieldset__legend govuk-fieldset__legend--s">
      {{label}}
    </p>
    <p id="{{id}}-hint" class="govuk-hint">
      {{#hint}}{{hint}}{{/hint}}
    </p>
    <p id="{{id}}" data-name="{{id}}">{{value}}</p>
  {{/readOnly}}
  {{^readOnly}}
    <label class="govuk-label govuk-label--m" for="{{id}}">
      {{label}}
    </label>
    <span id="{{id}}-hint" class="govuk-hint">
      {{#hint}}{{hint}}{{/hint}}
    </span>
    <input class="govuk-input govuk-input--width-20" id="{{id}}" name="{{id}}" type="text" value="{{value}}" aria-describedby="{{id}}-hint">
  {{/readOnly}}
</div>